<center><h4>Account Info</h4></center>
            <p>⠀Name</p>
            <input id="username" class="oval" type="text" value={{profile.username}}>
            <p>⠀Email</p>
            <input id="email" type="text" class="oval" value={{profile.email}}>
            <p>⠀Password</p>
            <input id="password" type="password" class="oval" value={{profile.password}}>
            <br>
            <br>
            <button id="update_account" onclick="updateUserInfo()" class="oval" >Save Changes</button>