<div id="title">
    <center><h1>Reveal</h1></center>
</div>
<div id="color-box">
    <div id="color-image-reveal">
        <center>
            {{> (lookup . 'content')}}
        </center>
    </div>
    <p id="description">Move your mouse over the rectangle!</p>
</div>